# .env.example - Template for environment variables.

EXOS_DEFAULT_USER=admin
EXOS_DEFAULT_PASS=

# Credentials for the new users to be created
EXOS_NEW_USER=your_desired_username
EXOS_NEW_PASS=your_secure_password
